.header {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--bkg-color-light);

  &__button {
    all: unset;
    cursor: pointer;
    background-color: var(--bkg-color-dark);
    padding: 0 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    border-radius: 20px;
  }

  &__heading {
    font-size: 28px;
    font-weight: 600;
  }

  &__icon {
    width: 30px;
    height: 30px;
    fill: var(--text-color);
  }
}
