.header {
  padding: 0 50px;
  // background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  &__button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    border-radius: 20px;
  }

  &__heading {
    font-size: 28px;
    font-weight: 600;
  }

  &__icon {
    width: 30px;

    &--sun {
    }
  }
}
