<div class="container">
  <button class="container__button" (click)="onBackToHome()">
    &leftarrow; Back
  </button>
  <div class="container__content">
    <img
      [src]="country.imagePath"
      alt="CountryFlag"
      class="container__content__flag"
    />
    <div class="detail">
      <h2 class="detail__heading">{{ country.name }}</h2>
      <div class="detail__content">
        <p><strong>Native Name</strong>: {{ country.name }}</p>
        <p><strong>Population</strong>: {{ country.population }}</p>
        <p><strong>Region</strong>: {{ country.region }}</p>
        <p><strong>Sub Region</strong>: Serbia</p>
        <p><strong>Capital</strong>: {{ country.capital }}</p>
        <p><strong>Top Level Domain</strong>:</p>
        <p><strong>Currencies</strong>:</p>
        <p><strong>Languages</strong>:</p>
      </div>
      <div class="detail__border-countries">
        <p><strong>Border Countries:</strong></p>
        <div class="borders">
          <button class="borders__button">France</button>
          <button class="borders__button">Germany</button>
          <button class="borders__button">Netherlands</button>
        </div>
      </div>
    </div>
  </div>
</div>
