@import "/src/app/shared/mixins.scss";

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.list {
  display: grid;
  // grid-template-rows: repeat();
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 70px;
  justify-content: center;
  min-height: 100vh;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  @include respond(big-desktop) {
    grid-template-columns: repeat(auto-fit, 424px);
    grid-gap: 80px;
  }

  &__error {
    border-radius: 5px;
    text-align: center;
    background-color: var(--bkg-color-light);
    width: 300px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    animation: rotate 2s infinite linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative;

  @include respond(phone) {
    padding: 35px;
  }

  @include respond(tab-port) {
    padding: 35px;
  }
}
.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @include respond(phone) {
    flex-direction: column;
  }

  @include respond(tab-port) {
    flex-direction: column;
  }

  & > * {
    background-color: var(--bkg-color-light);
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    width: 500px;
    height: 50px;
    border-radius: 5px;

    @include respond(phone) {
      width: 100%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
    @include respond(big-desktop) {
      width: 700px;
      height: 65px;
    }
  }

  &__search input {
    all: unset;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    position: relative;

    @include respond(big-desktop) {
      font-size: 20px;
    }
  }

  &__search input::-webkit-input-placeholder {
    color: var(--text-color);

    @include respond(big-desktop) {
      font-size: 20px;
    }
  }

  &__search input::-webkit-search-cancel-button {
    -webkit-appearance: none;

    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    cursor: pointer;
    background-color: var(--text-color);
    // background-image: url("/assets/SVG/close.svg");
    // background-position: center;
    -webkit-mask-image: url("/assets/SVG/close.svg");
    -webkit-mask-position: center;
  }

  &__icon {
    height: 25px;
    width: 100px;
    fill: var(--text-color);
  }
  &__select {
    border: none;
    outline: none;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    color: var(--text-color);

    @include respond(big-desktop) {
      font-size: 20px;
    }

    @include respond(phone) {
      width: 200px;
      margin-top: 30px;
      height: 50px;
    }

    @include respond(tab-port) {
      width: 200px;
      margin-top: 30px;
      height: 50px;
    }
  }
}
