@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.list {
  display: grid;
  // grid-template-rows: repeat();
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 70px;
  min-height: 100vh;

  &__spinner {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    animation: rotate 2s infinite linear;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative;
}
.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  & > * {
    background-color: var(--bkg-color-light);
  }

  &__search {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    width: 500px;
    height: 50px;
    border-radius: 5px;
  }

  &__search input {
    all: unset;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    position: relative;
  }

  &__search input::-webkit-input-placeholder {
    color: var(--text-color);
  }

  &__search input::-webkit-search-cancel-button {
    -webkit-appearance: none;

    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    cursor: pointer;
    background-color: var(--text-color);
    // background-image: url("/assets/SVG/close.svg");
    // background-position: center;
    -webkit-mask-image: url("/assets/SVG/close.svg");
    -webkit-mask-position: center;
  }

  &__icon {
    height: 25px;
    width: 100px;
    fill: var(--text-color);
  }
  &__select {
    border: none;
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
  }
}
