.country {
  display: grid;
  border-radius: 10px;
  grid-template-rows: 50% 50%;
  height: 380px;
  overflow: hidden;
  transition: transform 0.2s;
  background-color: var(--bkg-color-light);

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    padding-left: 25px;
  }

  &__content p {
    font-size: 15px;
    margin-top: 10px;
  }

  &__heading {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.country:hover {
  transform: scale(1.05);
}
